
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
.margin10px{
    margin:10px;
}
.padding10px{
    padding:10px;
}
.padding20{
    padding:20px;
}

.container {
    position: relative;
    width: 100%;
}
.back-color{
    background-color:#dddddd;   
}
.font-color{
    color: grey;
}
